<h1>Hola mundo desde angular!</h1>

  <h2>*ngFor para arrays de objetos</h2>
<div class="products--grid">
    <div *ngFor="let product of products" >
      <h3>{{product.name}}</h3>
      <img [src]="product.image" [alt]="product.name" width="200" >
      <p>${{product.price}}</p>
    </div>
</div>

<!--<div>-->
<!--  <h2>*NgFor</h2>-->
<!--  <div>-->
<!--    <input type="text" required [(ngModel)]="name">-->
<!--    <button (click)="addName()"> Add Name</button>-->
<!--  </div>-->
<!--  <hr>-->
<!--  <ul>-->
<!--    <li *ngIf="names.length === 0"> La lista está vacia! </li>-->
<!--    <li *ngFor="let name of names; index as i">-->
<!--      {{i}}{{ name }}-->
<!--    <button (click)="eliminateName(i)">Eliminar {{i}}</button>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div>-->
<!--  <h2>ngIf!</h2>-->

<!--  <button (click)="toggleButton()"> Toggle Button </button>-->
<!--  <p *ngIf="btnDisable">My content!</p>-->
<!--</div>-->

<!--<div>-->
<!--  <h2>NgModel!</h2>-->
<!--  <p>Nombre {{person.name}}</p>-->
<!--  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>-->
<!--  <p>Valid : {{nameInput.valid}}</p>-->
<!--  <hr>-->
<!--  <input type="number" max="100" min="0" required #ageInput="ngModel" [(ngModel)]="person.age"/>-->
<!--  <p>Valid : {{ageInput.valid}}</p>-->
<!--</div>-->


<!--<button [disabled]="btnDisable">-->
<!--  Enviar-->
<!--</button>-->

<!--<hr>-->
<!--<p>Mi edad es : {{person.age}}</p>-->
<!--<button (click)="addAge()"> Age ++ </button>-->
<!--<progress max="100" [value]="person.age"></progress>-->
<!--<div class="box">-->
<!--  <p>{{person.name}}</p>-->
<!--</div>-->
<!--<hr>-->
<!--<input type="text" [value]="person.name" (keyup)="changeName($event)">-->
<!--<img [src]="person.avatar"  alt="panas" width="100">-->
<!--<hr/>-->
<!--<h2>Hola soy {{person.name}} y tengo {{person.age}}</h2>-->
<!--&lt;!&ndash;<img src="{{img}}" alt="es una imagen de pana">&ndash;&gt;-->

